:root {
  --accent: #0969da;
}

body {
  font-family:
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      "Helvetica Neue",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol";
  margin: auto;
  max-width: 45em;
  padding: 1em;
}

img {
  max-width: 100%;
}

code {
  font-family:
      ui-monospace,
      "SFMono-Regular",
      "SF Mono",
      "Menlo",
      "Consolas",
      "Liberation Mono",
      monospace;
}

a {
  color: var(--accent);
}

.menu {
  padding-bottom: .4rem;
}

.posts {
  list-style: none;
  padding-left: 1rem;
}

/* TODO: This looks terrible, better menu/colors? */
.header-link {
  text-decoration: none;
  font-weight: bold;
}

.tag-cloud {
  padding: 0;
}

.tag-cloud>li {
  display: inline;
  padding-right: .4rem;
}

.code {
  font-size: .9rem;
}
