body {
  font-family: "Noto Sans", sans-serif;
  margin: auto;
  max-width: 45em;
  /* Make sure there is padding on small screens. */
  padding: 1em;
}

img {
  max-width: 100%;
}

code {
  font-family: "Fira Code";
}

.tag-cloud {
  padding: 0;
}

.tag-cloud>li {
  display: inline;
}
