body {
  font-family: "Noto Sans", sans-serif;
  margin: auto;
  max-width: 45em;
  padding: 1em;
}

img {
  max-width: 100%;
}

code {
  font-family: "Fira Code";
}

.posts {
  list-style: none;
  padding-left: 1rem;
}

.header-link {
  text-decoration: none;
}

.tag-cloud {
  padding: 0;
}

.tag-cloud>li {
  display: inline;
  padding-right: .4rem;
}

.code {
  font-size: .9rem;
}
