{{ define "main" }}
  <article>
    <h1>
      {{ .Title }}
    </h1>
    {{ with .Date }}
      {{ $formattedDate := dateFormat ":date_medium" . }}
      <time datetime='{{ $formattedDate }}'>
        {{ $formattedDate }}
      </time>
    {{ end }}
    {{/* TODO: Add tags.
      {{ with .getterms "tags" }}
        <ul id="tags">
          {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
      */}}
    {{ .Content }}
  </article>
{{ end }}
