{{ define "main" }}
<article>
  <h1>
    {{ .Title }}
  </h1>

  {{ if .Date }}
  <p>
    <time datetime="{{ .Date }}" pubdate>
      {{ .Date | dateFormat .Site.Params.dateDisplayFormat }}
    </time>
  </p>
  {{ end }}

  {{ $tags := .GetTerms "tags" }}
  {{ if $tags }}
  {{/* This should probably rather be a tag list with slightly different
       styling. */}}
  <ul class="tag-cloud">
    {{ range $tags }}
    <li><a href="{{ .Page.Permalink | relURL }}">#{{ .Page.Title }}</a></li>
    {{ end }}
  </ul>
  {{ end }}

  {{ .Content }}

</article>

{{ if .Page.Store.Get "hasMermaid" }}
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
  mermaid.initialize({ startOnLoad: true });
</script>
{{ end }}

{{ end }}
