<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
  {{ with .Title }}
    {{ . }} |
  {{ end }}
  {{ .Site.Title }}
</title>

{{ with .Site.Params }}
  {{ with .author }}
    <meta name="author" content="{{ . }}">
  {{ end }}
  {{ with .description }}
    <meta name="description" content="{{ . }}">
  {{ end }}
  {{ with .keywords }}
    <meta name="keywords" content={{ delimit . "," }}>
  {{ end }}
{{ end }}

{{- partial "helpers/favicon.html" . -}}

{{ template "_internal/google_analytics.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}

{{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans|Fira+Code">
<link rel="stylesheet" href="/css/style.css">
